<html>
    <body>
        <form method="post">
            Name : <input type="text" name="txt1" required/>
            Gender : <input type="text" name="txt2" required/>
            Mobile : <input type="number" name="txt3" required/>
            Email : <input type="email" name="txt4" required/>
            <input type="submit">
        </form>
    </body>
</html>